<div class="header">
  <a routerLink="/pagenotfound">ABC College</a>
  <div class="header-right">
    <a routerLink="/getlist" routerLinkActive="active">Home</a>
    <a routerLink="/students" routerLinkActive="active">Goto student page</a>
    <a routerLink="/allstudents" routerLinkActive="active">List students page</a>
    <a routerLink="/about" routerLinkActive="Active">About</a>
    <a routerLink="/home" routerLinkActive="Active">List</a>

    <a [routerLink]="['/contact']">Contact</a>
    <!--<a routerLink="/home">Lazy</a>-->
    <!--<a routerLink="#about">About</a>-->
  </div>
</div>

