<p>aboutstudent works!</p>
<p>aboutstudent works!</p>
<div class="container">

</div>
<hr />
<p>about student component works</p>
<a class="btn btn-primary" routerLink="/about">Back</a>

  <!--<div *ngFor="let data of data2">
    {{data2}}
  </div>-->
<div>
  {{x}}
</div>
<div *ngIf="x > 0">
  <p>{{x.name}}</p>
  <p>{{x.department}}</p>

</div>
<div *ngFor="let a of x">
  <p>{{a.name}}</p>
  <p>{{a.department}}</p>
</div>
    <table border="0">
      <thead>
        <tr>
          <td>name</td>
          <td>Department</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stud of students; let i=index">
          <td>
            <!--<input type="text" [(ngModel)]="stud.name" />-->
            <input type="text" [(ngModel)]="stud.name" [disabled]="!stud.isEditable" />

          </td>
          <td>
            <input type="text" [(ngModel)]="stud.department" [disabled]="!stud.isEditable" />
          </td>
          <td>



            <div>
              <button (click)="stud.isEditable=!stud.isEditable" *ngIf="!stud.isEditable" class="btn btn-primary">Edit</button> &nbsp;
              <button *ngIf="stud.isEditable" (click)="stud.isEditable=!stud.isEditable" class="btn btn-primary">Save</button>
              <button class="btn btn-danger" (click)="deletestudent(i)">delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="position">
      <form #aboutstudent="ngForm" (ngSubmit)="submit(aboutstudent)">

        <div class="form-group">
          <label>name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="name" required />

        </div>
        <div class="col-xs-4">
          <label>department</label>
          <input type="text" class="form-control" name="department" [(ngModel)]="department" required />
        </div>

        <div>
          <br />
          <input type="submit" class="btn btn-primary" value="Submit" (click)="addRow()" />
        </div>



      </form>
    </div>
